<form {{action 'saveaddress' on='submit'}}>
		<input value="{{cookieaddress}}" placeholder='ipaddress' type="text"><br>
		<input value={{cookieuser}} placeholder='user' type="text"><br>
		<input value="" placeholder='password' type="password"><br>
		<button type="submit">save</button>
</form>
addres = {{cookieaddress}}
<br>
user = {{cookieuser}}
<br>
password = {{cookiepassword}}