<form {{action 'saveAddress' on='submit'}}>
		{{input value=ipaddress placeholder="ipaddress" type="text"}}<br>
		{{input value=user placeholder="user" type="text"}}<br>
		{{input value=password placeholder="password" type="password"}}<br>
		<button type="submit">save</button>
</form>
addres = {{ipaddress}}
<br>
user = {{user}}
<br>
password = {{password}}
