<div>
<h2>Show: {{model.id}}</h2>
<h3>title: {{model.title}}</h3>
<h3>summary: {{model.summary}}</h3>
<h3>art: {{model.art}}</h3>
<h3>type: {{model.type}}</h3>
<h3>year: {{model.year}}</h3>
<h3>air: {{model.air}}</h3>
<h3>size: {{model.size}}</h3>
<h3>viewed: {{model.viewed}}</h3>
<h3>rating: {{model.rating}}</h3>
<h3>roles: {{model.roles}}</h3>
<h3>tags: {{model.tags}}</h3>
<h3>eps: {{model.eps}}</h3>
</div>

{{outlet}}
