<div>
<img src="{{model.art}}">
<h2>name: {{model.name}}</h2>
<h3>size: {{model.size}}</h3>
<h3>viewed: {{model.viewed}}</h3>
<h3>url: {{model.url}}</h3>
<h3>type: {{model.type}}</h3>
<h3>groups: {{model.groups}}</h3>
</div>

{{outlet}}
